<p id="notice"><%= notice %></p>

<h1>Artwork Shares</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artwork_shares.each do |artwork_share| %>
      <tr>
        <td><%= link_to 'Show', artwork_share %></td>
        <td><%= link_to 'Edit', edit_artwork_share_path(artwork_share) %></td>
        <td><%= link_to 'Destroy', artwork_share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork Share', new_artwork_share_path %>
